n8n-workflows/07-af-followup-pos-atendimento.json
{
  "name": "AF - Follow-up Pós Atendimento",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      },
      "id": "schedule-followup",
      "name": "Cron Follow-up",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filterType": "string",
        "filterString": "status=eq.concluido,followup_sent=eq.false"
      },
      "id": "supabase-buscar-concluidos",
      "name": "Buscar Atendidos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst now = DateTime.now();\n\n// Filtrar atendimentos realizados há pelo menos 3 horas\nconst filtered = items.filter(item => {\n  const data = item.json;\n  if (!data.appointment_date || !data.start_time) return false;\n  \n  const appointmentDateTime = DateTime.fromISO(`${data.appointment_date}T${data.start_time}`);\n  const hoursAfter = now.diff(appointmentDateTime, 'hours').hours;\n  \n  // Atendimento já passou E faz pelo menos 3 horas\n  return hoursAfter >= 3;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { hasAppointments: false } }];\n}\n\nreturn filtered.map(item => {\n  const data = item.json;\n  let phoneFormatted = (data.customer_phone || '').replace(/\\D/g, '');\n  if (!phoneFormatted.startsWith('55')) {\n    phoneFormatted = '55' + phoneFormatted;\n  }\n\n  // Gerar link de agendamento dinâmico\n  const companySlug = data.company_slug || data.company_id || '';\n  const linkAgendamento = `https://agendafacil.com/${companySlug}`;\n\n  const mensagem = `💈 *Obrigado pela visita!*\\n\\nOlá, ${data.customer_name || 'Cliente'}!\\n\\nEsperamos que tenha gostado do nosso atendimento! 😊\\n\\n⭐ Ficamos felizes em te atender.\\n\\n🔄 *Deseja agendar novamente?*\\nAcesse: ${linkAgendamento}\\n\\nAté a próxima! 👋`;\n\n  return {\n    json: {\n      ...data,\n      hasAppointments: true,\n      phone: phoneFormatted,\n      message: mensagem\n    }\n  };\n});"
      },
      "id": "code-filtro-followup",
      "name": "Filtrar Realizados +3h",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-has-followup",
              "leftValue": "={{ $json.hasAppointments }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-tem-followup",
      "name": "Tem Atendimentos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE299D91BC7205E84628E66062CE0C1/token/B1C2CBA5A9965C869F3C5554/send-text",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
        "options": {}
      },
      "id": "zapi-followup",
      "name": "WhatsApp Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "matchingColumn": "id",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "followup_sent", "fieldValue": "true" }
          ]
        }
      },
      "id": "supabase-marcar-followup",
      "name": "Marcar Follow-up Enviado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1500, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Cron Follow-up": {
      "main": [[{ "node": "Buscar Atendidos", "type": "main", "index": 0 }]]
    },
    "Buscar Atendidos": {
      "main": [[{ "node": "Filtrar Realizados +3h", "type": "main", "index": 0 }]]
    },
    "Filtrar Realizados +3h": {
      "main": [[{ "node": "Tem Atendimentos?", "type": "main", "index": 0 }]]
    },
    "Tem Atendimentos?": {
      "main": [
        [{ "node": "WhatsApp Follow-up", "type": "main", "index": 0 }],
        []
      ]
    },
    "WhatsApp Follow-up": {
      "main": [[{ "node": "Marcar Follow-up Enviado", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
